<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tokenpocket.pro.sdk_demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".minwallet.MiniWalletActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".minwallet.AuthActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".minwallet.PushTxActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".eos.EOSDemoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".iost.IostDemoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".eth.EthDemoActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tron.TronDemoActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".eth.EthTransferActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tron.TronTransferActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".eth.EthSignActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".eth.EthPersonalSignActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".eth.EthPushTxActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>